Source: digabi-repository
Section: misc
Priority: optional
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Build-Depends: debhelper (>= 9), jetring, gnupg
Standards-Version: 4.0.0
Homepage: https://github.com/digabi/digabi-repository
Vcs-Git: https://github.com/digabi/digabi-repository.git

Package: digabi-certificates
Depends: ${misc:Depends}, ca-certificates
Priority: important
Architecture: all
Description: Install Digabi certificates into the system.
 This package installs X509 certificates from Digabi.
